<!DOCTYPE html>
<html>
<head>
	<title>Пополнение резервуара</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
</head>

<body>
<p align="center"><b><font size="12" color="Teal" face="Garamond">Пополнение резервуара</font>
</b></p>

<form method="post" action="popolnenie_prom_info.html">
	{% csrf_token %}

	<p>Пополнение в {{nom_kol}} резервуара с топливом {{vid_top}}</p>

	<p>Введите количество топлива</p>
	<p><input name="kol_topliva" type="number" autofocus></p>

	<p><input type="submit" value="Ввести"></p>
</form

<p><a href="popolnenie.html">Вернуться к пополнению</a></p>
<p><a href="index.html">Вернуться на главную страницу</a></p>


</body>
</html>
