<!DOCTYPE html>
<html>
<head>
	<title>Заправка</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
<p align="center"><b><font size="12" color="Teal" face="Garamond">Заправка</font>
</b></p>

<form method="post" action="zapravka_info.html">
	{% csrf_token %}

	<p> <font face="Garamond"/font> Выберите колонку</p>
	<p><select name="nomer_kolonki">
		<option>Колонка 1</option>
		<option>Колонка 2</option>
		<option>Колонка 3</option>
		<option>Колонка 4</option>
	</select>
	</p>

	<p>Выберите вид топлива</p>
	<p><select name="vid_topl">
		<option>92</option>
		<option>95</option>
		<option>100</option>
		<option>ДТ</option>
	</select>
	</p>

	<p>Введите количество топлива</p>
	<p><input name="kol_topliva" type="number" autofocus></p>
	<p><input type="submit" value="Ввести"></p>
</form>
	
<p><a href="index.html">Вернуться на главную страницу</a></p>
	
</body>
</html>






	<!--p><input name="kol_topliva" type="number">   это с 36-й линии
